.TabelaProdutos table{
    width: 100%;
}

.TabelaProdutos th {
    background-color: #306b9f;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: rgb(141, 139, 139);
}
